
body{background:#f5f5f5;min-height: 850px;}
.container-total{display: block; width: 100%; padding:10px;background: rgb(20, 20, 20);color: #fff};
.texto-pequeno{font-size: 12px !important;}
.texto-medio{font-size:16px;}
.titulo-site{margin-right: 10px;}
.marginTopCinqPx{margin-top:50px;}
.marginBottomVintepx{margin-bottom:20px;}
.caixaCinza{background:rgb(204, 199, 199); padding:30px 10px; border-radius:8px; border:1px solid #000;}
.material-icons{vertical-align:middle;}


