/* line 2, ../../../sass/paginas/login.scss */
.form-login {
  margin-top: 20%;
}

/* line 3, ../../../sass/paginas/login.scss */
.form-login > h1 {
  color: #ccc;
  margin-bottom: 30px;
}

/* line 4, ../../../sass/paginas/login.scss */
.esqueci-link {
  float: right;
}

/* line 5, ../../../sass/paginas/login.scss */
.footer-painel-login {
  margin-top: 10%;
}
