
.form-login{margin-top:20%;}
.form-login>h1{color:#ccc;margin-bottom:30px;}
.esqueci-link{float:right;}
.footer-painel-login{margin-top:10%;}

// .login {background: #083050 !important;
//     padding:5px 5px !important; 
//     color:#fff !important;
//     font-size:16px !important;
//     font-weight: bold !important;
//     @include box-shadow(rgb(214, 216, 231) 2px 2px 6px);
// }


// .panel-body{border: 1px solid  #000 !important; background:#fff !important;
//     @include box-shadow(rgb(54, 54, 54) 2px 2px 4px);
// }

